img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  opacity: 0.8;
}

.container {
  padding-top: 100px;
  text-align: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}

.title {
  font-size: 27px;
}

.subtitle {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18px;
}

.news__block {
  display: block;
  padding-top: 40px;
  display: flex;
  gap: 20px;
}

.news__block:nth-child(n + 2) {
  position: relative;
}

.news__block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 75px;
  left: 0;
  background: #e3e3e3;
}

.news__date {
  color: orange;
}

.news__title {
}

.news__button {
  display: block;
  margin: 64px auto;
  width: 300px;
  height: 40px;
  background-color: black;
  color: #fff;
  padding-top: 17px;
}

.info {
}

.info__inner {
}

.info__title {
  padding-top: 15px;
  padding-left: 18px;
  margin-bottom: 40px;
  font-size: 23px;
  background: #111;
  color: #fff;
  height: 40px;
}

.test__wrapper {
  padding: 30px 20px;
}

.test__title::before {
  content: "";
  border: 10px solid orange;
}

.test__title {
  /* padding-left: 20px; */
  padding-bottom: 20px;
  font-size: 20px;
}

.test__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.test__image {
  width: 400px;
  margin: 0 auto 32px;
}

.test__block {
  max-width: 800px;
  flex: 50%;
}

.test__list {
  display: flex;
  align-items: center;
}

.list__title {
  text-align: center;
  padding-top: 10px;
  width: fit-content;
  padding: 8px 12px;
  font-size: 16px;
  background: #111;
  color: #fff;
}

.list__date {
  padding: 10px 20px;
}

.test__text {
  margin-top: 30px;
}

.test__button {
  display: block;
  margin-top: 30px;
  width: 300px;
  height: 40px;
  background-color: black;
  color: #fff;
  padding-top: 17px;
  text-align: center;
}

.test01 {
}

.test01__inner {
}

.test01__title {
  padding-top: 15px;
  padding-left: 18px;
  margin-bottom: 40px;
  font-size: 23px;
  background: #111;
  color: #fff;
  height: 40px;
}

.test01__wrapper {
  padding: 30px 20px;
}

.test01__main {
  background-color: orange;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 30px;
}

.test01__container {
  display: flex;
}

.test01__img {
  max-width: 800px;
  margin: 30px auto;
  flex-shrink: 0;
}

.test01__block {
  margin-left: 30px;
}

.test01__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.list01__title {
  text-align: center;
  padding-top: 10px;
  width: fit-content;
  padding: 8px 12px;
  font-size: 16px;
  background: #111;
  color: #fff;
}

.list01__date {
}

.test01__text {
  margin-top: 30px;
}

.test01__button {
  display: block;
  margin: 30px auto;
  width: 300px;
  height: 40px;
  background-color: black;
  color: #fff;
  padding-top: 17px;
  text-align: center;
}

.tab__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 30px;
}

.tab {
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.tab.selected {
  background-color: orange;
}

.pagination {
  text-align: center;
  width: fit-content;
  margin: 30px auto;
  position: relative;
}

.page-numbers {
  text-decoration: none;
  color: #888;
  font-size: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(250, 213, 143);
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .page-numbers {
    font-size: 16px;
  }
}

.page-numbers.current {
  color: #333;
  background-color: orange;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.h-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header a {
  font-size: 16px;
  color: orange;
}
